[2020-11-26 08:33] hoeghh opened #2 "Describe how to contribute"
We need to document how people can contribute to the project.
The documentation should be located under /docs and be pointed to from the root README.md

[2020-11-26 08:36] hoeghh opened #3 "Make use of ~/.medusa/.env"
Medusa should be able to read configuration from a home folder, so that end users can setup where and how Medusa should connect.

Right now Medusa looks for a .env file in the scripts folder, which is not doable for end users. The script start-vault.sh under /scripts should copy the outputted .env file to ~/.medusa/.env for Medusa to use.

[2020-11-26 11:14] hoeghh commented on #2
Closed with #4

[2020-11-26 11:14] #2 closed

[2020-11-26 12:04] jonasvinther opened #5 "Add go report"
Add the report batch from https://goreportcard.com/report/github.com/jonasvinther/medusa to the readme.md page.

[2020-11-26 12:20] #5 closed

[2020-11-26 12:33] hoeghh opened #7 "Build and push a container when a release is created"
We need to build and push a container with Medusa when ever we do a release.
This container can then be used as a tool container in a ci/cd pipeline.

[2020-11-27 07:59] hoeghh opened #9 "Describe how to sync a fork when contributing"
To help beginners, we should add a section on how to sync a fork of this repo, so people can keep contributing.

Something like
[code]

[2020-11-27 09:12] hoeghh opened #11 "IP doesnt exist on mac"
We use `ip` in `/scripts/start-vault.sh` and that command doesn't exists on mac's. So we need to catch missing dependencies, and tell people instead of simply continuing.

[2020-11-27 21:05] jonasvinther commented on #11
Great work!

[2020-11-27 21:05] #11 closed

[2020-11-27 21:13] #9 closed

[2020-12-01 12:26] hoeghh opened #13 "Update GoReportCard on each build"
There is an action to update the GoReportCard here

https://github.com/marketplace/actions/go-report-card

We should include that as the last step in our action pipeline.

[2020-12-01 12:28] hoeghh opened #14 "Add CodeCov"
https://codecov.io/ can show you the code coverage. We should add that to the readme, like in this project https://github.com/urfave/cli

Output :
https://codecov.io/gh/urfave/cli

[2020-12-01 14:18] #13 closed

[2020-12-03 18:12] hoeghh commented on #3
I think the order should be something like this:

- parameter to medusa
- environment variable
- ~/.medusa/medusa.env

[2020-12-04 11:26] jonasvinther opened #17 "Clean up cli"
Clean up the interface of the cli. We try to follow the same naming conventions as Vault.

./medusa export /secret/A --format="yaml" --address="http://..." --token="000-000-000" --output="secret.yaml"

global:
--tls-skip-verify

VAULT_ADDR
VAULT_TOKEN

[2020-12-11 09:37] jonasvinther commented on #17
This was implemented together with the export feature.

[2020-12-11 09:37] #17 closed

[2020-12-11 11:44] #14 closed

[2020-12-11 12:01] hoeghh opened #22 "Document use of Medusa"
We need to create documentation for how to use Medusa, and fix some old documentation

[2020-12-11 12:48] hoeghh commented on #22
Fixed with 87cbdfcd8f9b84685bfc065d56766fb2d98d3095

[2020-12-11 12:48] #22 closed

[2020-12-11 12:49] hoeghh commented on #3
Fixed with bdcd4341465d01b7c7ee1714b9f1ada0f6f2fef5

[2020-12-13 21:48] #3 closed

[2021-01-04 14:19] hoeghh commented on #7
Docker hub builds a new image when something is pushed to main branch.

[2021-01-04 14:19] #7 closed

[2021-03-16 11:03] motilevy opened #30 "os exit codes"
Thank you for this tool!
I am running it as a Kubernetes job and noticed that `medusa export ...` always returns an exit code of `0`.
I wanted to know if you're open for a pull request to make sure all errors are returned back to main.go and change main.go to:

[code]

Or use `log.Fatal`/`log.Fatalf` where appropriate ?
let me know which approach makes sense and I'll open a PR.

[2021-03-16 12:10] jonasvinther commented on #30
Sure, that would be great if you can help implementing this.
Thank you for your feedback and contribution!

[2021-03-16 13:24] hoeghh opened #31 "Create k8s cronjob manifest example"
We want an example manifest for a Kubernetes cronjob that uses medusa to backup a vault instance.

Something like :

[code]
Then from there we will add env's to control what and where.

[2021-03-16 13:58] hoeghh commented on #31
Tried it out, and it does run.

![medusa-cronjobs](https://user-images.githubusercontent.com/11328908/111321209-01cf0f80-8668-11eb-98f7-a613ffc7dbe0.png)

[2021-03-16 20:38] #30 closed

[2021-03-16 20:41] jonasvinther commented on #30
Thank you so much for your contribution. I have merged the your pull request. Improving the error handling was much needed.
Please do not hesitate to create issues if you experience any errors while using Medusa.

[2021-03-17 08:37] hoeghh commented on #31
This seems to work with a configmap and a secret. Its using a hostPath right now to keep it simple. People then needs to add their own volume.

[code]

[2021-03-17 12:50] hoeghh commented on #31
Fixed with #34

[2021-03-17 12:50] #31 closed

[2021-03-19 09:49] jonasvinther opened #40 "Delete secrets"
Medusa should be able to clean up a sub path of a secret engine so that the the sub path is empty before performing the import.
The command could be like: ./medusa delete kv/my/sub/path

[2021-03-24 14:32] jb4293 opened #41 "Cannot export data from KV v1 secret engine"
Running an export fails on KV v1 secret engine, because the v1 engine doesn't use the metadata path:

    docker run medusa -a https://vault:8200 -k -t $(cat .vault-token) export secret/secretthings

    Error: no keys found using path [secret/metadata/secretthings/] on Vault instance [https://vault:8200]
    no keys found using path [secret/metadata/secretthings/] on Vault instance [https://vault

[2021-03-26 10:09] jonasvinther commented on #41
Thank you for posting this issue. We are aware that Medusa are not fully compatible with the kv1 secret engine yet. This is one of the next features we will work on. I will keep you updated.

[2021-03-26 13:37] lujunbofan2019 commented on #41
Looking forward to it!

[2021-03-26 13:38] jb4293 commented on #41
Great!  Thank you!

[2021-03-30 20:46] jonasvinther commented on #41
I have added support for the kv1 secret engine with merge request #42 .
If you wanna use the KV1 secret engine you now need to specify this using a flag `--engine-type kv1`. It has been implemented both for importing and exporting secrets. The default engine type is kv2. See the documentation under importing data or exporting data for more information.
I have made a new release(v0.2.0) that contai

[2021-03-30 20:46] #41 closed

[2021-04-06 02:07] DI-DaveGoodine opened #43 "Only timestamp and <nil> output sometimes on export"
os: mac os 11.2.3
binary downloaded from here: https://github.com/jonasvinther/medusa/releases/download/v0.2.0/medusa_0.2.0_darwin_amd64.tar.gz
vault: 1.5.3

Steps:
Set VAULT_ADDR, and run export:
``` ./medusa export di-secrets/ -t s.tokenstuff --format="yaml" --insecure```
output:
```2021/04/05 21:04:47 <nil> <nil>```

Expected:
All the secret data in the engine at di-secrets (v2) should be expor

[2021-04-07 19:28] jonasvinther commented on #43
Hi and thank you for reaching out!

I haven't seen this issue before. Are there any patterns in the secrets that is unusual? For instance special characters or  multi line value or something like that.
It is also a bit strange that you are saying that some of your exports are working fine. Is it the same export that is failing every time or is it random?
If possible I would like to see an example

[2021-04-08 06:19] hoeghh commented on #43
Hi @DI-DaveGoodine

Does the policy assigned to the token used have access to all data under the `di-secrets` engine? Or are there some elements there that it doesnt have access to?

[2021-04-08 18:48] DI-DaveGoodine commented on #43
@jonasvinther It seems to be the same export - my use case is exporting all the secrets in an engine for DR purposes.

Unfortunately, I don't have a good test data set - I am trying to export our Prod secrets.

[2021-04-08 18:49] DI-DaveGoodine commented on #43
@hoeghh I used a token that has access to everything.

[2021-04-14 06:30] hoeghh commented on #43
Hi @DI-DaveGoodine

Does the token have the root policy? Could you check with a root token? Just to make sure it's not a permission thing.
My guess is that if you dont have list permission on the secret engines root, it might be the problem.

[2021-04-14 17:48] jonasvinther commented on #43
I have tested this and the token needs the following policy:
[code]

[2021-04-14 17:49] jonasvinther commented on #43
I have tested this and the token needs the following policy:
[code]
@DI-DaveGoodine can you verify if this is the case?

[2021-04-14 18:17] DI-DaveGoodine commented on #43
@jonasvinther , @hoeghh  - I use `vault login` to get a token, and that token has these policies:
policies               ["default" "superuser"]

superuser is:
[code]

[2021-04-14 21:16] oshamin commented on #43
I faced the same error.
[code]
I use the initial root token in environment variable.

[2021-04-15 04:26] jonasvinther commented on #43
@oshamin  are you also running Mac os?

[2021-04-15 06:07] oshamin commented on #43
@jonasvinther no, It runs on linux (ubuntu 16.0).

[2021-04-15 20:27] jonasvinther commented on #43
Hi @DI-DaveGoodine  and @oshamin
I have now found the location in the code where this error is happening. It's happening while reading a secret. So I suspect that I somehow have messed up the vault path for some secrets and therefore Medusa is unable to read the secret. I have added some debugging code that should tell more about what is actually happening.

Can you please download and run Medusa

[2021-04-15 21:01] DI-DaveGoodine commented on #43
@jonasvinther here is the result:
[code]
When I view the secret at that path in the UI, I see:

[2021-04-16 11:19] oshamin commented on #43
Here is 5 cent from me.
[code]

[2021-04-20 19:33] jonasvinther commented on #43
Hi @DI-DaveGoodine and @oshamin
I have released a v0.2.2. I hope that this will fix your bugs.

For the kv2 issue that you have @DI-DaveGoodine it's simply because, as you also wrote, that the secret has no active version because the version of the secret has been deleted. And since kv2 keep's the history until you delete the secret and not just a version, you would get the error you did. I now ha

[2021-04-20 19:47] DI-DaveGoodine commented on #43
@jonasvinther  latest version works great, thank you!

[2021-04-20 19:47] #43 closed

[2021-05-03 10:49] ncsibra opened #47 "Does not handle JSON secrets"
We have a secret in a kv2 engine that has a big JSON object as data.
Exporting this secret with medusa works fine, both in yaml and json format, but when importing back, it tries to create separate secrets from every key/value pair instead of creating just one secret with the whole JSON object.
Plus during this try, it's unable to handle some keys with this error: `Error while writing secret. json

[2021-05-04 16:52] sebPomme opened #48 "Unable to import an encrypted backup"
Hello, I just follow the README.md, and I can't re-import the data.
[code]

I use medusa v0.2.2 .

I can figure what I m doing wrong, do you have an idea ?

Seb :apple:

[2021-05-04 17:52] jonasvinther commented on #48
Hi @sebPomme ,
Thanks for reaching out!

First of all can you verify that the export and import is working when exporting using plain text?

Next I see that it's failing when it's trying to read line 1 in your export file _encrypted-vault-secrets.txt_. If you open the file in a text editor you should see that the file contains only two lines. Becuase it look's like it cannot read the first line of

[2021-05-04 18:01] jonasvinther commented on #47
Hi @ncsibra

I just tested this, and you are totally right that if you export as json it will mess up everything. I hadn't thought about that scenario. But I just tried to export using the yaml format and it looks like yaml is handling json values more nicely. Can you try and export and import using yaml?

This is my export result when using `--format="json"`:
`A:
  B:
    json-example: |-
      {

[2021-05-04 19:08] sebPomme commented on #48
Hi,

Thanks for this reply,
first the test without encryption:
[code]
:white_check_mark:

I created a new dataset and test with it.
[code]

Is this help ?

[2021-05-04 19:46] jonasvinther commented on #48
Thank you for providing more information.
So the first test with no encryption and the same datasets went well. I see that your export is 68632 lines long? I must admit that I haven't tested Medusa with such a large dataset. I appreciate your help in order to debug this error. Maybe I need to create a very large dataset to test with.

Does the exported file also contains exact two lines when you d

[2021-05-04 20:17] sebPomme commented on #48
I wrote `68632` for anonymise my key names this is not the number of secrets.

Actually I have **544** secret in `kv-certificates_backup`.
Each secret have nearly this form:
[code]

And yeah, with the encrypted export the file have only 2 lines.
[code]

[2021-05-05 08:10] ncsibra commented on #47
Hi @jonasvinther,

I tried before, but now tried again and it does not work.
Sample json created under "medusa" kv2 secret engine and "cake" secret name through vault GUI:
[code]

Export: `medusa export medusa --format="yaml" -o ~/tmp/test.yml`
Result:
[code]

Import:
[code]
In this case does not import anything to vault.

#### Environment

Arch Linux under WSL2.

Vault: 1.5.4.
Medusa: 0.2.2. (amd

[2021-05-05 09:06] sebPomme commented on #48
I don't know if it can help, but I just try something:
[code]

But it's works with a light-way volume:
[code]

[2021-05-05 19:36] jonasvinther commented on #47
Thank you for the additional information. I'm now able to recreate the issue.
This happens when you use the Vault ui and then use the json interface for creating the secret. If you use the key/value field interface this doesn't happen, and the json value is being stringified by vault.

I need to do some investigation in order to fix this issue. I hope to get time to look into this during this week

[2021-05-17 15:31] rkennedy-tpl opened #50 "unexpected behavior when importing "complexly structured secrets""
I have a handful of "complex, structured JSON objects" currently stored in Vault. specifically, they are [Hyperledger Fabric connection profiles](https://hyperledger-fabric.readthedocs.io/en/release-2.2/developapps/connectionprofile.html). it's just a big chunk of JSON with mostly lists of URLs and public keys.

here's a heavily redacted chunk of one for a specific example.

![image](https://user-

[2021-05-17 17:32] jonasvinther commented on #50
Hi @rkennedy-tpl,
Thank you for reporting this issue. As you also noticed it is basically the same as #47, but I appreciate your inputs as well.
The issue is basically that the Go Vault API integration by default takes the json structure and converts it into a map which makes it difficult to know difference between when the secret is a key/value or a json blob. I hope to have a solution to this is

[2021-06-01 10:52] Docjones opened #51 "Feature Request"
Oh Lord, please add a functionality to import java property files (eg. for spring boot cloud config)

[2021-06-24 00:56] cameronbraid commented on #40
an alternative to an explicit delete could be to pass a  `null` value to import

e.g.

secrets.yaml
[code]

`medusa import secret secrets.yaml`

would delete foo/bar

[2021-07-13 09:26] jppitout opened #52 "Request for installation instructions"
Good day,

I'm trying to test Medusa but not exactly sure how to install it. When I run `make` I see Go getting some stuff but then I get the below:

[code]
Would be nice to have clear installation instructions, but am investigating how to proceed.

[2021-07-13 11:34] #52 closed

[2021-07-14 07:09] jppitout commented on #52
Ended up just using the binary release.

[2021-07-20 23:51] nitinjmv opened #53 "Import is wrapping the keys within extra "data""
Hi,
May be a silly question but I couldn't find anything related this in readme so posting it here.

here are the commands I'm using for export/import.

docker run \
    --rm \
    -v $(shell pwd):/tmp/ \
    -e VAULT_ADDR=$(VAULT_ADDR_SOURCE) \
    -e VAULT_TOKEN=$(VAULT_TOKEN_SOURCE) \
    -e VAULT_SKIP_VERIFY=true \
    jonasvinther/medusa:latest \
    export -m=kv1 myfolder --insecure --encryp

[2021-07-24 12:12] hokugawa commented on #53
I faced the same problem.
Looks like medusa wrote secret as kv2 format.

the original secret is like this:
[code]
but, after import, it is like this:
[code]

using docker image `jonasvinther/medusa:0.2.2`

[2021-07-26 07:58] nitinjmv commented on #53
Hi @hokugawa
wondering if you have found any work around?

[2021-07-26 14:22] hokugawa commented on #53
I haven't, unfortunately.

[2021-07-26 20:54] jonasvinther commented on #53
Hi @nitinjmv and @hokugawa
Thanks for reporting this issue.
I have looked into it and found a bug in the kv1 export part. I have created a new release(https://github.com/jonasvinther/medusa/releases/tag/v0.2.3) that I hope have solved the issue. Can you please give it a try and report back to me? Thanks!

[2021-07-26 21:19] hokugawa commented on #53
@jonasvinther
Awesome, I've confirmed that it's solved by v0.2.3.
Thanks!!

[2021-07-27 10:40] #53 closed

[2021-07-27 11:28] nitinjmv commented on #53
Thanks @jonasvinther
I confirm too..working as expected.

[2021-07-29 04:42] GuruParin opened #55 "HashiCorp Vault Version Compatibility"
Remote vault server is running version 1.3.2.

When I tried to run - medusa export, it prompts an error:

Error: no keys found using path [secret/metadata//] on Vault instance [https://xxx]

Is there a minimum vault server version requirement? If so, better to mention in README

[2021-07-29 18:50] jonasvinther commented on #55
Hi @GuruParin
That is actually a really good question. I will need to test this and look into the release notes to see if there is some breaking changes at some point. Let me look into this and get back to you.

[2021-07-29 18:53] jonasvinther commented on #51
Hi @Docjones,
Thank you for reaching out. I'm not a java developer so I don't know anything about spring boot cloud config. Can you elaborate a bit on how this setup up should look like?

[2021-08-17 06:23] tim-sendible opened #56 "Doesn't handle nested secrets with the same name."
Firstly, great product, helped me out with a Vault migration in record time. While I was doing the migration, I found an issue:

- We have a secret path of foo/bar
- Under foo/bar, there is a secret called 'moo'
- Also under foo/bar, this is a directory, also called 'moo' that contains further secrets.

eg:
[code]

Medusa skipped exporting the secret 'moo' and instead only exported the directory c

[2021-08-20 17:09] kosmoit opened #57 "build error after initial clone"
New to medusa.  cloned the repo, and performed a go build and received the following output.

`go build .
go: github.com/hashicorp/vault/api@v1.0.4 requires
        github.com/hashicorp/vault/sdk@v0.1.13 requires
        golang.org/x/text@v0.3.1-0.20181227161524-e6919f6577db: invalid pseudo-version: git fetch --unshallow -f origin:
        fatal: git fetch-pack: expected shallow list
`

any sugges

[2021-08-30 05:35] Docjones commented on #51
Hello @jonasvinther,
sorry if i was unclear :) spring boot applications rely heavyly on configuration in form of (java) property files (see [here](https://en.wikipedia.org/wiki/.properties)). Typically, there are secrets like database connection strings stored within.

We want to import our property files into a vault server. spring-boot-cloud already allows us to retrieve the kv from a vault duri

[2021-08-31 01:48] elulcao commented on #55
I discovered the same issue with Vault 0.11.2 and Medusa Commit 5bfef5b
just in case someone else faced the same issue.

[2021-09-03 16:43] thatInfrastructureGuy opened #58 "medusa import: Unable to import empty secret files"
When transferring secrets from, I run `medusa export` which gives me structure like this:
[code]

Here `A/C` is empty secret.

When I run `medusa import` for this data structure, I get the following tree:
[code]

Secret `A/C` is not imported.

[2021-09-08 11:15] vvaltia commented on #56
I faced the same issue. I modified the code and built my own version of medusa. Seems to have solved this issue. It's my first time touching go code, so not sure how elegant the solution is. Since I don't have push rights to the repo what would be the best way to share my changes?

[2021-09-08 11:25] tim-sendible commented on #56
The usual approach would be that you make a change on a fork of the project and then you create a Pull Request in this project to merge yours in. However, given I've not had a response from the maintainer on this issue, you may find that your PR does not get approved.

[2021-09-08 11:36] vvaltia commented on #56
Thanks. Here are my changes.
https://github.com/jonasvinther/medusa/pull/59

[2021-09-14 09:16] jonasvinther commented on #56
Hi @vvaltia and @tim-sendible
Great to see that you could help each other out! I have created a new release v0.2.4 that contains the new changes.

[2021-09-14 09:16] #56 closed

[2021-09-16 07:55] cwien opened #60 "Support for namespaces (Vault Enterprise)"
Vault Enterprise has the concept of "Namespaces" to isolate different environments.

The Vault API provides passing the namespace as an additional parameter, but medusa does not accept such a value on the command line yet. As we are using the Enterprise version of Vault we cannot use medusa until this option can be set.

In the vaultclient.go there is already the stub to support namespaces, but th

[2021-09-16 08:01] cwien commented on #60
#61 is the PR for this issue.

[2021-09-16 18:45] jonasvinther commented on #55
I also think that this issue is related to using the wrong kv engine. I just tested and Medusa seems to be working with Vault version 0.10.0 and newer. So that should not be the issue.
Also @elulcao you should consider upgrading your Vault instance if you are running version 0.11.2, that version is more than 3 yers old :)
I will add the support  the minimum vault server version requirement as you

[2021-09-16 18:45] #55 closed

[2021-09-16 18:58] jonasvinther commented on #57
Hi @kosmoit
It looks like your git version might be too old. Have a look at this: https://github.com/golang/go/issues/38373
Otherwise feel free to reopen the issue, and I will be happy to help you debug this.

[2021-09-16 18:58] #57 closed

[2021-09-16 18:59] jonasvinther commented on #60
Again thank you for your contribution @cwien

[2021-09-16 18:59] #60 closed

[2021-09-25 15:35] GuruParin commented on #55
Tested on 4 Vault instances with different version, all working fine when kv engine version is correctly set.

I did overlook the kv engine version :(

Thank you both.

[2021-10-02 18:42] jonasvinther commented on #48
I'm closing this one since I haven't been able to reproduce. I think that you have some special data some where in your Vault that Medusa is not able to handle. Feel free to re-open if you have any additional information that can help me reproduce this error.

[2021-10-02 18:42] #48 closed

[2021-10-09 20:48] jonasvinther commented on #50
Hi @magnuszetterberg and @rkennedy-tpl

I have made a pre-release that I hope will solve this issue. I would love if you have time to test it and report back to me?
The release can be found here: [](https://github.com/jonasvinther/medusa/releases/tag/v0.3.1-pre)
I have also added a new test data file, that shows the different types of secret that is handled by this fix. [](https://github.com/jonas

[2021-10-09 20:50] jonasvinther commented on #47
Hi @ncsibra
I don't know if you are still hanging around, but I have finally tried to fix this issue.

I have made a pre-release that I hope will solve this issue. I would love if you have time to test it and report back to me?
The release can be found here: [https://github.com/jonasvinther/medusa/releases/tag/v0.3.1-pre](https://github.com/jonasvinther/medusa/releases/tag/v0.3.1-pre)
I have also

[2021-10-11 07:02] jonasvinther commented on #47
@ncsibra that sounds awesome! Thank you for testing this. Don't forget to leave a :star: if you feel for it :)

[2021-10-11 17:50] hoeghh commented on #51
You could do something like this :

Have a file `java.properties` with the following content

[code]

Then import via
[code]

Then export it again
[code]

The quotes could be removed with a `sed` command

[2021-10-12 19:15] rkennedy-tpl commented on #50
I followed the instructions here => https://github.com/jonasvinther/medusa/tree/main/docs/examples/docker

namely:

[code]

https://hub.docker.com/r/jonasvinther/medusa

so I'm guessing I'm getting old broken behavior still. D'oh!

mind bumping the container image so I can try again? I might hack up a local build shortly, I wound up having the need to clone Vault data this week again...

[2021-10-12 19:32] jonasvinther commented on #50
Oh I forgot that docker changed their automated build behavior a few months ago. I will fix that tomorrow. Thanks for reminding me! I'm glad to hear that the fix is also working for you!

[2021-10-13 19:29] jonasvinther commented on #50
@rkennedy-tpl the latest medusa docker image can now be found here: [https://github.com/jonasvinther/medusa/pkgs/container/medusa](https://github.com/jonasvinther/medusa/pkgs/container/medusa)
The documentation has also been updated.
Again thank you for reminding me.

[2021-10-14 05:27] magnuszetterberg commented on #47
I will absolutely put a star on this project!  =)

[2021-10-26 23:26] vanveele opened #70 "PathSplitPrefix helper fails to properly handle engine mounts with '/' characters"
The method used to predict the secret engine mountpath in [PathSplitPrefix](https://github.com/jonasvinther/medusa/blob/main/pkg/vaultengine/helpers.go#L71) fails to handle cases where the mount path includes one or more '/' characters.
eg.

[code]

For example, the k/v v2 mount path 'prod/secrets' or 'non-prod/staging/secrets', which are valid and permitted by Vault, may contain the following sec

[2021-11-02 21:21] vanveele commented on #70
I'd like to add some tests for the provided PR but wanted to provide my current workaround for comments.

[2021-11-04 20:53] jonasvinther commented on #70
It looks good. And it is passing my current tests. Will add some more when I get time. For now it's merged to master.
Thank you for your contribution and remember to :star: the project if you feel for it :)

[2021-11-04 20:53] #70 closed

[2021-11-10 17:28] sergey-plevako-badoo opened #72 "medusa import: Access Entities support"
I am trying to import the Access Entity using medusa. I wonder if this is possible? I have tried importing the ACL Policies and it works fine. Consider I have the userpass Auth Method enabled with the Accessor "auth_userpass_966f2d29"

Let's say there is a "test" user created.  Exporting those user works fine

It produces the file [output.json.zip](https://github.com/jonasvinther/medusa/files/7514

[2021-11-11 13:22] sergey-plevako-badoo commented on #72
[bob.smith.json.zip](https://github.com/jonasvinther/medusa/files/7520636/bob.smith.json.zip)

I am trying to use the following API  https://learn.hashicorp.com/tutorials/vault/identity

[code]

[2021-11-24 12:46] urkishan opened #73 "Not able to export data of transit and totp"
I am not able to export the data of transit and totp, here is the command I used when I started my vault :

`vault secrets enable totp transit`
`vault secrets disable secret`
`vault secrets enable kv -path=secret -version=1`

And when I run command to export the data it showing me error:

`./medusa export transit/ -m kv1 --address="http://0.0.0.0:8200" --token="s.token"  -o testing.yaml`

Response

[2021-11-27 23:14] nkpetko opened #74 "Unable to export a KV path due to a `segmentation violation`"
When attempting export a specific path on vault, it will throw the following error:
[code]

There are 2 paths that have data in them
`/secret/teams/neteng/grid-service-v2/release` -- throws
`/secret/teams/neteng/grid-service-v2/debug` -- can be exported, despite it having the same KV layout

The export command is as follows:
`./medusa export secret/teams/neteng/grid-service-v2/release --address="h

[2021-12-15 21:40] jonasvinther commented on #73
Hi @urkishan
Medusa only supports the kv1 and kv2 secret engines. We don't support for the TOTP secret engine at the moment.
It is not something that I plan to support at the moment, so I'm closing this issue.

[2021-12-15 21:40] #73 closed

[2021-12-15 22:07] jonasvinther commented on #72
Hi @sergey-plevako-badoo
It looks like it's unable to parse the json during import for some reason. Can you try to export it as yaml and see if that changes anything? If you remove `-f json` from the export command you will get the output in yaml format. Let me know if that will fix it for you, then I will try to figure out where the error is.

[2021-12-15 22:12] jonasvinther commented on #74
Hi @nkpetko
Can you post the structure of the secret that doesn't work? Please remember to anonymize any values :)
I would expext that the secrets on both release and debug looks equal in structure but contains different values.

[2021-12-16 05:43] urkishan commented on #73
@jonasvinther is there any way to move TOTP data?

[2021-12-16 11:49] nkpetko commented on #74
It's a KV of the following for both:

KEY ------ VALUE
GroupName  String
Name       String
Updated    String (In date-time format)

If anything else is needed please ask

[2022-01-07 20:28] mateustanaka commented on #48
I'm facing the same issue with medusa v0.3.1

[code]

[2022-01-20 17:10] sumanthkumarc opened #75 "Medusa export : ability to export all the vault keys for key value engine"
Hi Team,

I'm really impressed with the tool. It beautifully exports the given vault path and has very minimal and simple setup. But my main use case was to export all the keys for all the mounts for key value engine. I had few keys of generic/kv1/kv2.

Since this module doesnt support this right now out of the box, i have forked it and coded the basic minimal version at https://github.com/sumanth

[2022-01-25 17:54] aabouzaid opened #76 "[Feature Request] Add search option"
Hi, thanks for that great tool it's super handy :clap:

Since the tool actually is able to export, I believe it would be easy to have a `search` option so I can find where exactly a `key` or a `value` is used given a certain path.

What I do at the moment is export everything in the path and search that using the text editor which is suboptimal.

Example:
[code]

It could also have the option to s

[2022-02-22 04:22] AndrewSav opened #77 "Suggestions"
Thank you for a nice tool. Here are some improvements that will be welcome:

- Autodetect the engine version if the token has enough permissions
- Re-use the vault cli token `~/.vault-token` if present and valid
- Implement more user-friendly encryption that does not require `openssl` but instead relies on a key derivation function
- in addittion to `-insecure` option allows to supply your own CA

[2022-02-24 01:24] minorgod opened #78 "0.3.2 breaks kv1 export (Darwin release)"
Not sure if this happens on other architectures, but something about 0.3.2 broke export with --engine-type="kv1".
Version 0.3.1 works for me though.  Not sure if import is also affected as I'm only using medusa for export at the moment.

[2022-02-24 07:00] jonasvinther commented on #78
Hi @minorgod
Can you post the error message you are getting? I don't have a Mac, so it's hard for me to debug this issue.

[2022-02-24 18:15] minorgod commented on #78
Thanks for the speedy reply!
There's no "error" message per se...it just can't find any keys to read...
`./medusa export mountname --format="json" --engine-type="kv1" `
[code]
Fairly sure it's not an issue with needing any other flags or env vars since the previous version of medusa works fine. Seems like something in that [latest commit ](https://github.com/jonasvinther/medusa/commit/3357102152e6

[2022-02-25 10:56] liyaka commented on #74
I get this error as well for many secrets, for example:
xxx
 apikey-auth
    zzzzz
    {
      "API Address": null,
      "Header 1": "asd",
      "Header 2": null,
      "Header 3": null,
      "Value 1": "asd",
      "Value 2": null,
      "Value 3": null
    }

[2022-02-25 16:57] nkpetko commented on #74
@liyaka I figured it may have been a null value issue, I have a few KVs in the release side that are null but none in the debug side.

I will look into it a bit more.

[2022-02-27 09:17] liyaka commented on #74
@nkpetko is there a chance it will be fixed any time soon?

[2022-02-27 17:37] nkpetko commented on #74
@liyaka if I can find the root issue, and also @jonasvinther pulls a PR I make then soon

[2022-02-27 18:22] jonasvinther commented on #74
If we can verify that the issue is a `null` value, then It would make it much easier to make a fix for it. @liyaka I will try to import your datastructure today or tomorrow and see if I can reproduce the error. A fix should be easy to implement if that's the case.

[2022-02-28 08:10] liyaka commented on #74
@jonasvinther i did more tests, it is definitely the null issue - in all cases when i had at least one secret that had a null inside, i got this error.
An example for a secret with null:
{
   "Name": "hhh",
   "Value": null
}

[2022-02-28 20:50] jonasvinther commented on #74
@liyaka and @nkpetko please give [release 0.3.3](https://github.com/jonasvinther/medusa/releases/tag/v0.3.3) a spin. I think I have managed to handle the nil values now. At least it works for my test cases.

[2022-02-28 20:51] jonasvinther commented on #78
How does your mountname look? Does it contain special characters like / or something like that?

[2022-03-01 07:06] jonasvinther commented on #72
Only kv1 and kv2 secret engines are currently supported by Medusa.

[2022-03-01 07:06] #72 closed

[2022-03-01 08:07] liyaka commented on #74
@jonasvinther Thank you! will test it later today

[2022-03-01 09:55] liyaka commented on #74
@jonasvinther Works like charm! Thanks again :)

[2022-03-01 09:56] #74 closed

[2022-03-02 07:21] jonasvinther commented on #75
Hi @sumanthkumarc
I really love that this is your first go code. To me it looks good. So great job!
I think that what you are doing could be achieved using a combination of the Vault cli tool and Medusa. You should be able to do the list mounts using the Vault cli and then using some bash scripting extract the kv1/kv2 engines and then run medusa export for each secret engine.

[2022-03-02 07:21] #75 closed

[2022-03-02 11:15] jozefs opened #80 "Import from stdin"
Thanks for the great tool. I already have [SOPS](https://github.com/mozilla/sops)+[age](https://github.com/FiloSottile/age) set up to manage encryption and decryption of files in my projects, so I only need Medusa for the import/export functionality. It does not seem obvious to me from the documentation and command line help if it is possible to import from stdin. The scenario is using SOPS to dec

[2022-03-09 21:31] BojanZelic opened #81 "KV2 "Permanently Destroyed" secrets causes fatal crash"
If a version of a secret is "Permanently Destroyed" this causes issues with medusa export

ex:

[code]

[2022-04-27 08:34] Yasinmohammed007 opened #82 "Export Error '<' looking for beginning of value OR missing vaultaddr parameter"
**URL**: http://207.254.25.36:8000/secrets/kv/secret/
it has subfolders in it, but for testing i used this http://207.254.25.36:8000/secrets/kv/secret/android/dev/keys

**Cmd Executed**:
./medusa export secret/android/dev/ -k --address="http://207.254.25.36:8000/secrets/kv/secret/android/dev/"

./medusa export secret/android/dev/ -k --address="http://207.254.25.36:8000/secrets/kv/"

let me know if

[2022-04-28 04:45] Yasinmohammed007 commented on #82
@gramosg @vanveele @jonasvinther  Can you please help me out here.

[2022-04-28 11:15] gramosg commented on #82
@Yasinmohammed007 Maybe not related to your error but the `address` argument should not include the path to the secret, just the host (in your case, `http://207.254.25.36:8000`).

Also, Vault 0.10.4 is almost 4 years old. You should upgrade to one of the latest versions just in case.

[2022-04-28 17:29] jonasvinther commented on #82
Hi @Yasinmohammed007
I agree with @gramosg. That Vault version is really old, and I have never tested Medusa on such a old version of Vault.
Also I can see that kv2 was released in version 0.10. So do you know if you are using kv1 or kv2. If you are using kv1 yo need to specify that using the `--engine-type` parameter.

I hope that this brings you somewhere otherwise let me know. And please upgrad

[2022-04-29 14:33] mks-sky commented on #78
I can confirm having the same issue with 0.3.2 and 0.3.3 on WLS running Ubuntu 20.04 LTS - we've reverted to 0.3.1.  The error message with %s = /path is the same regardless of whether `medusa export secrets` or `medusa export secrets/` or `medusa export my/secrets` - looks like `finalPath` variable is not being built correctly.

[2022-04-29 19:26] BojanZelic opened #83 "Needs M1 (arm64) Build for MacOS"
Hi,

It would be nice to have a pre-compiled arm64 Darwin build

[2022-05-03 18:07] jonasvinther commented on #83
Hi @BojanZelic
I have added a version 0.3.4 that has a compiled arm64 Darwin build. Can you verify that it is working? I don't have a Mac :)
https://github.com/jonasvinther/medusa/releases/tag/v0.3.4

[2022-05-03 21:55] BojanZelic commented on #83
Awesome, seems to work great! Thank you!

[2022-05-03 21:55] #83 closed

[2022-05-12 00:34] cebaldauff opened #84 "Medusa import with encrypt -- "panic: runtime error: index out of range [0] with length 0""
Hey there, so I am importing several sets of encrypted secrets into a private vault instance. About half of them import just fine, the other half fail with the following message:
`panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
github.com/jonasvinther/medusa/pkg/encrypt.Decrypt(0x7ffd3766a689, 0x19, 0x7ffd3766a5fd, 0x30, 0xc, 0xc0001296d7, 0x1, 0x0)
	/vault/medus

[2022-05-12 00:38] cebaldauff commented on #84
Unrelated but I would also like to be able to import secrets not under "data/". Is there any way to change that?

[2022-05-13 19:56] cebaldauff commented on #84
For whatever reason, this extra "data" field is being added on to the secrets' path:
![image](https://user-images.githubusercontent.com/50680435/168380412-98882fe9-314e-45c7-8960-439e99d7b9c0.png)

[2022-05-14 19:37] jonasvinther commented on #84
Hi @cebaldauff
Please check if you are moving secrets between kv1 and kv2 secret engines. The `data` prefix is something that is specific for kv2. So I think that you maybe are exporting from a kv2 into a kv1 secret engine.

[2022-05-16 21:33] cebaldauff commented on #84
Thank you so much, @jonasvinther, that was it exactly! I'm still unable to decrypt when a file is large enough. Is there any easy fix for that issue?

[2022-05-17 06:20] jonasvinther commented on #84
I will have to look into the issue with decrypting large files. Can you say anything about how large your files/secrets are? Are you storing passwords or larger amount of data in a secret? Like ssh keys or something like that.

[2022-05-18 15:35] cebaldauff commented on #84
Some of the secret sets that are being imported and failing on decrypt include either 60+ sets of secrets, or they include k8s  configs.

[2022-05-18 17:26] cebaldauff commented on #84
Also seeing this when reading in a yaml which is causing a set of secrets to fail:
`yaml: control characters are not allowed
Error: yaml: control characters are not allowed`

Found this on stackoverflow, could be this problem: https://stackoverflow.com/questions/33717799/go-yaml-control-characters-are-not-allowed-error
And here is another github project that solved the issue: https://github.com/pr

[2022-05-18 17:27] cebaldauff commented on #84
This is different from the decrypt problem, I can open a separate ticket for this if you would like.

[2022-05-23 18:54] BK-STAR77 opened #87 "config.yaml Issue"
Medusa does not take my configuration listed on config.yaml. So I have to put in variable to make it work

[2022-05-25 19:20] jonasvinther commented on #87
Hi @BK-STAR77
Thank you for reaching out. Can you elaborate a bit on what you mean  by this?

[2022-05-25 19:28] #78 closed

[2022-05-25 19:35] jonasvinther commented on #78
I have made a new release [v0.3.5](https://github.com/jonasvinther/medusa/releases/tag/v0.3.5). Thank you @landrew57 for solving this issue.

[2022-05-26 12:41] BK-STAR77 commented on #87
I create a config.yaml to my homefolder  ~/.medusa/config.yaml but it looks like read my conf however it works fine with environment.

[2022-05-31 16:23] cebaldauff commented on #84
Hey @jonasvinther please let me know if there is anything I can do to assist on this issue. Thanks!

[2022-06-01 21:15] jonasvinther commented on #84
Hi @cebaldauff
Can you provide a file that contains some dummy secrets in clear text? Then I can import that into Vault and try and do the encrypted export+import reproduce the error. That would be a lot of help.
And great finding you did regarding the other problem, I can have a look at that as well. Again it's easier for me if you can provide some dummy file that so that I can reproduce the erro

[2022-06-28 11:09] liyaka opened #89 "Need a way to suppress printing imported keys"
like
[code]

[2022-06-30 23:02] cameronbraid opened #90 "feature request - decrypt export"
Sometimes I only want to restore some of the keys.  So I think the easiest way would be for medusa to provide a command to decrypt a export into a plaintext version, which I can then view to work out which keys I want, or I can edit it before importing

[2022-07-07 04:11] AndrewSav opened #91 "panic: runtime error: invalid memory address or nil pointer dereference"
Running: `medusa export Redacted -o Redacted.yaml`

Getting:
[code]

[2022-07-07 04:16] AndrewSav commented on #91
Never mind it looks like it was fixed here: https://github.com/jonasvinther/medusa/commit/a5fed2b570d95d607e1160f398aca17fc7555c77

[2022-07-07 04:16] #91 closed

[2022-07-13 10:43] motilevy commented on #84
To add to this bug.

I have a job running medusa backups ( exports ) for over a year. The medusa version did not change ( I have it in a docker container ) I think the issue is related to size/amount of items.
The following 2 backups are 1 hour apart, using the same docker image and I am able to restore the 62kb file but not the 82kb file.

<img width="907" alt="image" src="https://user-images.git

[2022-07-27 20:30] jmhbnz commented on #84
Came across this issue today attempting to import encryped secrets into a kv2 secret engine.

Here was the output:

[code]

It was for two decent size files, without encryption the yaml is ~690 lines long and includes a number of more complex secrets like private keys etc.

The following files were exported via medusa with encryption:
[code]

The two that failed import were the large `prod.txt` an

[2022-08-29 20:34] jonasvinther commented on #80
Hi @jozefs
This feature has been added in version 0.3.6: https://github.com/jonasvinther/medusa/releases/tag/v0.3.6

[2022-08-29 20:34] #80 closed

[2022-08-29 21:10] jozefs commented on #80
Thank you so much 🙏

[2022-09-12 05:08] timofey-drozhzhin opened #98 "BUG: Medusa fails to backup KV password version number, resulting in wrong version number on import"
I labeled it as a bug instead of a feature request, because it causes an unintended behavior. In our case, it caused our infrastructure to error out when we tried to restore a backup, because it could not map to the passwords.

## Why KV version numbers are important
KV (Key-Value) passwords are version controlled. Each password is assigned a new version number every time it's changed. In gitOps,